<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

  <footer>
    <div class="container pt-5 footer">
      <div class="row">
        <div class="col">
          <div class="footer-logo">
            <img src="../../assets/images/footer-logo.png" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col">
          <div class="menutitle pb-3">
            <strong>Quick Links</strong>
          </div>
          <div class="f-menu">
            <a routerLink="/bookings">Book An Event</a>
            <a></a>
            <a routerLink="/rentals">Make a Rental</a>
            <a></a>
            <a routerLink="/purchases">Make a Purcahse</a>
          </div>
        </div>
       <div class="col">
        <div class="menutitle pb-3">
          <strong>News</strong>
        </div>
        <div class="f-menu">
          <a href="#">Blog</a>
          <a href="#">Careers</a>
        </div>
      </div>
      <div class="col">
        <div class="menutitle pb-3">
          <strong>Say Hello</strong>
        </div>
        <div class="f-menu">
          <a>Unit 7, Thornhill Rd.</a>
          <a>Redditch</a>
          <a>Worcestershire</a>
          <a>B98 9ND</a><br>
          <a><strong>0800 068 5707</strong></a>
        </div>
      </div>
    </div>
  </div>
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-center py-3">
            <small>&copy; Copyright 2018 Shanz Events Company. All rights reserved.                                                                                                                   </small>
          </div>
        </div>
      </div>
    </div>
  </section>
  </footer>