<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<section class="inner-banner">
  <img src="../../assets/images/inner-banner.jpg" class="img-fluid" alt="">
  <div class="section-title-inner text-center py-3">
    <h1 class="bold white text-upper">RESET PASSWORD</h1>
  </div>
</section>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card   style="border: 3px solid black; border-radius: 20px; padding: 2rem;">
        <p class="text-center">Enter your New Password</p>
        <form *ngIf="!isLoading" (submit)="changePass(passwordForm)" #passwordForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="password"
              name="password"
              ngModel
              placeholder="New Password"
              required
              #password=ngModel>
            <mat-error *ngIf="password.invalid">Please enter a valid Password</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              name="confpass"
              ngModel
              placeholder="Re-Enter New Password"
              required
              #confpass=ngModel>
            <mat-error *ngIf="confpass.invalid">Please enter a valid Password</mat-error>
          </mat-form-field>
          <h6 style="color: red;">{{ error }}</h6>
          <button mat-flat-button type="submit" color="warn">RESET PASSWORD</button>
          <h6 *ngIf="forgotmessage">{{ forgotmessage }}</h6>
        </form>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="warn"></mat-progress-bar>

      </mat-card>
    </div>
  </div>
</div>
